[submodule "swiftnav-ros2"]
	path = swiftnav-ros2
	url = https://github.com/Monash-Connected-Autonomous-Vehicle/swiftnav-ros2.git
[submodule "zed-ros2-wrapper"]
	path = zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
