<?xml version="1.0"?>
<robot name="esda" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="zed_camera_link">
  
  </link>

  <joint name="zed_to_baselink" type="fixed">
      <parent link="base_link"/>
      <child link="zed_camera_link"/>
      <origin xyz="0.271364 0.0 0.243727" rpy="0 0.646 0" />
  </joint>
</robot>
