<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="lidar_rad" value="0.0515"/>
    <xacro:property name="lidar_len" value="0.072"/>
    
    <link name="velodyne">
        <visual>
            <geometry>
                <cylinder radius="${lidar_rad}" length="${lidar_len}"/>
            </geometry>
            <material name="orange"/>
        </visual>
        
        <collision>
            <geometry>
                <cylinder radius="${lidar_rad}" length="${lidar_len}"/>
            </geometry>
            <material name="orange"/>
        </collision>
        
        <xacro:inertial_cylinder mass="1" radius="${lidar_rad}" length="${lidar_len}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    
    </link>
    
    <joint name="velodyne_joint" type="fixed">
        <parent link="base_link"/>
        <child link="velodyne"/>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </joint>
    
    <gazebo reference="velodyne">
        <material>Gazebo/Grey</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>

            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>10</samples>
                        <min_angle>-0.2</min_angle>
                        <max_angle>0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>4.5</max>
                </range>
            </ray>
            
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=velodyne_points</argument>
                </ros>
                <output_type>sensor_msgs/PointCloud2</output_type>
                <frame_name>velodyne</frame_name>
            </plugin>
        </sensor>
    </gazebo>
 
</robot>
