<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="esda">
    
    <xacro:include filename="util/inertial_macros.xacro"/>

    <xacro:include filename="util/materials.xacro"/>

    <xacro:include filename="esda_core.xacro"/>
    
    <xacro:include filename="wheels.xacro"/>

    <xacro:include filename="sensors/lidar.xacro"/>

    <xacro:include filename="sensors/piksi.xacro"/>
    
    <xacro:include filename="sensors/camera.xacro"/>
    
    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
	    <ros>
	      <namespace>/demo</namespace>
	    </ros>
            <!-- Wheel Information -->
            <left_joint>left_drive_wheel_joint</left_joint>
            <right_joint>right_drive_wheel_joint</right_joint>
            <wheel_separation>0.958</wheel_separation>
            <wheel_diameter>0.265</wheel_diameter>

            <!-- Limits -->
            <max_wheel_torque>100</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>

</robot>
