<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <material name="white">
        <color rgba="1 1 1 0.3"/>
    </material>
    
    <material name="white2">
        <color rgba="0.9 0.9 0.9 0.4"/>
    </material>
    
    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>
    
    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>
    
    
    <!-- ROOT LINK -->
    <!-- continue from here https://youtu.be/BcjHyhV0kIs?list=PLunhqkrRNRhYAffV8JDiFOatQXuU-NnxT&t=366 -->
    <link name="base_link"></link>
    
    <!-- DRIVE BOX LINK -->
    <link name="drive_box">
        <visual>
            <geometry>
                <box size="0.505 0.57 0.275" />
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
        
        </collision>
    </link>
    
    <joint name="drive_box_joint" type="fixed">
        <parent link="base_link"/>
        <child link="drive_box"/>
        <origin xyz="-0.2525 0 0"/>
    </joint>
    
    <!-- MIDDLE BOX -->
    <link name="middle_box">
        <visual>
            <geometry>
                <box size="0.81 0.57 0.275" />
            </geometry>
            <material name="white2"/>
        </visual>
        <collision>
        
        </collision>
    </link>
    
    <joint name="middle_box_joint" type="fixed">
        <parent link="base_link"/>
        <child link="middle_box"/>
        <origin xyz="0.405 0 0"/>
    </joint>
    
    <!-- STEERING BOX -->
    <link name="steering_box">
        <visual>
            <geometry>
                <box size="0.505 0.57 0.275" />
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
        
        </collision>
    </link>
    
    <joint name="steering_box_joint" type="fixed">
        <parent link="base_link"/>
        <child link="steering_box"/>
        <origin xyz="1.0625 0 0"/>
    </joint>

</robot>
