<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="esda">
    
    <xacro:include filename="util/inertial_macros.xacro"/>

    <xacro:include filename="util/materials.xacro"/>

    <xacro:include filename="esda_core.xacro"/>
    
    <xacro:include filename="wheels.xacro"/>

    <xacro:include filename="sensors/lidar.xacro"/>

    <xacro:include filename="sensors/piksi.xacro"/>
    
    <xacro:include filename="sensors/camera.xacro"/>
    
    <xacro:include filename="control/gazebo_ackermann_control.xacro"/> 

</robot>
